* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  justify-content: space-around;
  height: auto;
  overflow: hidden;
}
header .opisanieTovara {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFDF7;
  width: 50vw;
  height: 900px;
}
header .opisanieTovara ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  row-gap: 5vh;
  width: 60%;
  text-align: center;
}
header .opisanieTovara ul li:nth-child(1) p {
  font-size: 43px;
}
header .opisanieTovara ul li:nth-child(2) p {
  font-size: 16px;
}
header .opisanieTovara ul li:nth-child(3) p {
  font-size: 18px;
  letter-spacing: 2px;
}
header .opisanieTovara ul li {
  list-style: none;
}
header .sliderContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: auto;
  justify-content: space-around;
}
header .sliderContainer .withImg {
  width: 50vw;
  max-width: 960px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .sliderContainer .withImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 960px;
  height: 900px;
}
header .sliderContainer .withImg .popular {
  position: absolute;
  top: 923px;
  align-self: flex-start;
  background-color: #FFFDF7;
  padding: 10px;
  padding-right: 200px;
  border-bottom: 1px solid #222222;
}
header .sliderContainer .withImg .popular p {
  font-size: 20px;
}
header nav {
  display: flex;
  align-items: center;
  width: 95vw;
  height: auto;
  justify-content: space-between;
  background-color: #FFFCFC;
}
header nav ul:nth-child(2) p {
  font-size: 45px;
  letter-spacing: 25px;
}
header nav ul:nth-child(3) li:nth-child(2) {
  line-height: 2vh;
}
header nav ul:nth-child(3) button {
  background: transparent;
  border: none;
}
header nav ul {
  display: flex;
  align-items: center;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
  line-height: 7vh;
}
header nav ul li a {
  text-decoration: none;
  color: #222222;
}

.weBelieveAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  width: 100%;
  max-width: 100%;
}
.weBelieveAll .withHand {
  width: 50vw;
  max-width: 960px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weBelieveAll .withText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  row-gap: 3vh;
  width: 50%;
  text-align: center;
}
.weBelieveAll .withText ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  row-gap: 3vh;
  text-align: center;
}
.weBelieveAll .withText ul li {
  list-style: none;
  width: 60%;
}
.weBelieveAll .withText ul li p {
  font-size: 28px;
  letter-spacing: 2px;
}

.blurImg {
  background-image: url("../MainPage/imgs/d7ee8f89-1i2a2020 3.png");
  height: 200px;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: space-around;
}
.blurImg p {
  color: #FFF2F2;
  font-size: 48px;
  letter-spacing: 2px;
}

.partnersAll {
  display: flex;
  width: 100vw;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;
  padding-bottom: 2rem;
  row-gap: 5vh;
}
.partnersAll ul:nth-child(1) p {
  font-size: 38px;
  letter-spacing: 4px;
}
.partnersAll ul:nth-child(2) {
  padding-top: 100px;
  padding-bottom: 100px;
}
.partnersAll ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
}
.partnersAll ul li {
  list-style: none;
}

.footerAll {
  background-color: #FAFAFA;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  row-gap: 2rem;
}
.footerAll .rightsFooter {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footerAll .rightsFooter p {
  color: #868686;
  font-size: 20px;
  letter-spacing: 2px;
}
.footerAll .logoFooter {
  border-bottom: 1px solid #2d2d2d;
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
}
.footerAll .logoFooter p {
  font-size: 45px;
  letter-spacing: 25px;
}
.footerAll footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
}
.footerAll footer .forTwo {
  display: flex;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  align-items: flex-start;
  justify-content: space-around;
}
.footerAll footer ul {
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 3vh;
}
.footerAll footer ul button {
  width: auto;
  font-size: 20;
  letter-spacing: 2px;
  border: none;
  color: #FAFAFA;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #171717;
}
.footerAll footer ul form input {
  border: none;
  color: #222222;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #222222;
}
.footerAll footer ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.footerAll footer ul li a {
  text-decoration: none;
  color: #171717;
}
.footerAll footer ul li a p {
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .partnersAll ul:nth-child(2) {
    height: auto;
    row-gap: 2vh;
  }
  header .opisanieTovara ul li:nth-child(3) p {
    text-align: left;
  }
  .weBelieveAll .withText ul li p {
    text-align: left;
  }
  .blurImg {
    text-align: center;
  }
  .footerAll footer {
    height: auto;
    row-gap: 2vh;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  header nav ul:nth-child(2) p {
    font-size: 30px;
    letter-spacing: 9px;
  }
  header nav ul:nth-child(1) li:nth-child(1) {
    display: none;
  }
  .footerAll .logoFooter p {
    font-size: 30px;
    letter-spacing: 9px;
  }
  .footerAll footer .forTwo {
    flex-direction: column;
  }
  .footerAll footer {
    width: 90vw;
  }
  .footerAll .rightsFooter p {
    text-align: center;
  }
  header nav ul:nth-child(1) li:nth-child(2) {
    background-image: url("../CatalogPage/imgs/bars-solid.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }
  header nav ul:nth-child(1) li:nth-child(2) p {
    opacity: 0;
  }
  header nav ul:nth-child(3) li:nth-child(1) {
    display: none;
  }
  header nav {
    justify-content: space-around;
  }
  header .opisanieTovara ul li:nth-child(3) p {
    display: none;
  }
  .slide {
    flex-direction: column;
  }
  header .opisanieTovara {
    width: 100vw;
    height: 150px;
  }
  header .sliderContainer .withImg {
    width: 100vw;
  }
  header .opisanieTovara ul {
    width: 100%;
  }
  header .sliderContainer .withImg img {
    height: 400px;
    width: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .partnersAll ul:nth-child(2) img {
    width: 60%;
  }
  header .opisanieTovara ul {
    row-gap: 1vh;
  }
  .withImg, .opisanieTovara {
    flex: none;
  }
  .weBelieveAll {
    flex-direction: column-reverse;
    height: auto;
    row-gap: 5rem;
  }
  .weBelieveAll .withText {
    width: 90%;
    padding-bottom: 5rem;
  }
  .weBelieveAll .withText ul li {
    width: 100%;
  }
  .weBelieveAll .withText ul li p {
    text-align: center;
  }
  .weBelieveAll .withHand {
    width: 100vw;
  }
  .weBelieveAll .withHand img {
    height: 400px;
    width: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blurImg p {
    font-size: 28px;
  }
  .partnersAll ul:nth-child(1) p {
    text-align: center;
    font-size: 28px;
  }
  .partnersAll ul:nth-child(2) {
    padding: 0;
  }
  .partnersAll ul:nth-child(2) li {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  display: flex;
  width: 100vw;
  max-width: 100%;
}

.prevBtn, .nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}/*# sourceMappingURL=style.css.map */