* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  justify-content: space-around;
  height: auto;
}
header nav {
  display: flex;
  align-items: center;
  width: 95vw;
  height: auto;
  justify-content: space-between;
  background-color: #FFFCFC;
}
header nav ul:nth-child(2) p {
  font-size: 45px;
  letter-spacing: 25px;
}
header nav ul:nth-child(3) li:nth-child(2) {
  line-height: 2vh;
}
header nav ul:nth-child(3) button {
  background: transparent;
  border: none;
}
header nav ul {
  display: flex;
  align-items: center;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  justify-content: space-around;
}
header nav ul li {
  list-style: none;
  line-height: 7vh;
}
header nav ul li a {
  text-decoration: none;
  color: #222222;
}

.allSmells {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: auto;
  row-gap: 7vh;
  justify-content: space-around;
  flex-direction: column;
}
.allSmells .nazv {
  padding-top: 5vh;
  font-size: 38px;
  letter-spacing: 3px;
}
.allSmells .smellsContainerAll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 95%;
}
.allSmells .smellsContainerAll .smellsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  width: 95%;
}
.allSmells .smellsContainerAll .smellsContainer .smell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  row-gap: 1vh;
  justify-content: space-around;
}
.allSmells .smellsContainerAll .smellsContainer .smell #trend {
  font-size: 14px;
}
.allSmells .smellsContainerAll .smellsContainer .smell #smellnazv {
  font-size: 28px;
  letter-spacing: 3px;
}
.allSmells .smellsContainerAll .smellsContainer .smell ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
.allSmells .smellsContainerAll .smellsContainer .smell ul li {
  list-style: none;
}

.plashka {
  width: 90%;
  height: 13rem;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../SnifPage/imgs/2symrise-visuels-entree-itaartboard-1-copy-6.jpg");
}
.plashka p {
  font-size: 60px;
  letter-spacing: 4px;
  background: #FFF2F2;
  background: linear-gradient(to top, #FFF2F2 0%, #F5D4B1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerAll {
  background-color: #FAFAFA;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  row-gap: 2rem;
  margin-top: 5rem;
}
.footerAll .rightsFooter {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footerAll .rightsFooter p {
  color: #868686;
  font-size: 20px;
  letter-spacing: 2px;
}
.footerAll .logoFooter {
  border-bottom: 1px solid #2d2d2d;
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
}
.footerAll .logoFooter p {
  font-size: 45px;
  letter-spacing: 25px;
}
.footerAll footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
}
.footerAll footer .forTwo {
  display: flex;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  align-items: flex-start;
  justify-content: space-around;
}
.footerAll footer ul {
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 3vh;
}
.footerAll footer ul button {
  width: auto;
  font-size: 20;
  letter-spacing: 2px;
  border: none;
  color: #FAFAFA;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #171717;
}
.footerAll footer ul form input {
  border: none;
  color: #222222;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #222222;
}
.footerAll footer ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.footerAll footer ul li a {
  text-decoration: none;
  color: #171717;
}
.footerAll footer ul li a p {
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */